@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	.width-xl {
		width: 1280px;
	}

	.width-lg {
		width: 1024px;
	}

	.width-md {
		width: 768px;
	}

	.width-sm {
		width: 640px;
	}

	.width-600 {
		width: 600px;
	}

	.width-400 {
		width: 400px;
	}

	.scrollbar-hidden {
		-ms-overflow-style: none;
		/* IE, Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
		/* Safari, Google Chrome */
	}

	.scrollbar-transparent::-webkit-scrollbar {
		@apply w-2 bg-transparent
	}

	.scrollbar-styled::-webkit-scrollbar {
		@apply w-2
	}

	.scrollbar-styled::-webkit-scrollbar-track {
		@apply bg-transparent
	}

	.scrollbar-styled::-webkit-scrollbar-thumb {
		@apply dark:bg-zinc-900 rounded-full
	}
}